openapi: 3.1.0
info:
  title: OpenAgentPlatform API
  version: 0.1.0
  description: |
    REST API for OpenAgentPlatform (OAP) — an open-source, agent-first
    Remote Monitoring and Management (RMM) platform.

    ## Authentication
    All `/api/v1/*` endpoints require a bearer token (OIDC ID token or
    session JWT). Auth endpoints under `/auth/*` use OIDC Authorization
    Code Flow with PKCE.

    ## Versioning
    The API is versioned via URL path (`/api/v1`). Breaking changes
    increment the major version; additive changes are backward compatible.

    ## Rate Limiting
    Default rate limit is 1000 requests/min per token. Burst to 2000.
  contact:
    name: OpenAgentPlatform
    url: https://openagentplatform.io
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html

servers:
  - url: https://api.openagentplatform.io
    description: Production
  - url: https://staging-api.openagentplatform.io
    description: Staging
  - url: http://localhost:8080
    description: Local development

tags:
  - name: Auth
    description: OIDC login, callback, logout, and session info
  - name: Agents
    description: Stream B agent registration and remote command
  - name: Checks
    description: Phase 1 health and compliance checks
  - name: CheckResults
    description: Historical check execution results
  - name: Alerts
    description: Phase 1 alert lifecycle (acknowledge, resolve, snooze)
  - name: AlertRules
    description: Phase 1 alert rule configuration
  - name: Policies
    description: Phase 1 policy definitions and violations
  - name: Patches
    description: Phase 1 patch management jobs
  - name: Scripts
    description: Phase 1 script library and execution runs
  - name: Audit
    description: Phase 0 immutable audit event log

security:
  - bearerAuth: []

paths:
  # =========================================================
  # Authentication
  # =========================================================
  /auth/login:
    get:
      tags: [Auth]
      summary: Initiate OIDC login
      description: |
        Redirects the user-agent to the OIDC provider's authorization
        endpoint. Sets a short-lived state cookie for CSRF protection.
      operationId: authLogin
      security: []
      responses:
        "302":
          description: Redirect to OIDC provider
          headers:
            Location:
              schema:
                type: string
                format: uri
              description: OIDC authorization URL
            Set-Cookie:
              schema:
                type: string
              description: oap_oauth_state cookie
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          description: OIDC not configured
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /auth/callback:
    get:
      tags: [Auth]
      summary: OIDC callback
      description: |
        OIDC redirect URI. Exchanges the authorization code for tokens,
        verifies the ID token, mints an internal session JWT, and sets
        the session cookie.
      operationId: authCallback
      security: []
      parameters:
        - name: code
          in: query
          required: true
          description: Authorization code from OIDC provider
          schema:
            type: string
        - name: state
          in: query
          required: true
          description: CSRF state value (must match oap_oauth_state cookie)
          schema:
            type: string
      responses:
        "302":
          description: Redirect to web UI with session cookie set
          headers:
            Set-Cookie:
              schema:
                type: string
              description: oap_session cookie
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "502":
          description: OIDC token exchange failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          description: OIDC not configured
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /auth/logout:
    post:
      tags: [Auth]
      summary: Log out
      description: Clears the session cookie. Idempotent.
      operationId: authLogout
      security: []
      responses:
        "200":
          description: Logged out
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: logged_out

  /auth/me:
    get:
      tags: [Auth]
      summary: Current session info
      description: Returns claims for the authenticated session.
      operationId: authMe
      parameters:
        - $ref: "#/components/parameters/AuthorizationHeader"
      responses:
        "200":
          description: Session claims
          content:
            application/json:
              schema:
                type: object
                properties:
                  sub:
                    type: string
                  email:
                    type: string
                    format: email
                  name:
                    type: string
                  role:
                    type: string
                    enum: [admin, operator, viewer, agent]
                  org_id:
                    type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          description: Session minter not configured
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # =========================================================
  # Agents (Stream B)
  # =========================================================
  /api/v1/agents:
    get:
      tags: [Agents]
      summary: List agents
      description: Returns a paginated list of registered agents.
      operationId: listAgents
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PageSizeParam"
        - name: site_id
          in: query
          description: Filter by site ID
          schema:
            type: string
        - name: status
          in: query
          description: Filter by agent status
          schema:
            type: string
            enum: [online, offline, degraded, pending]
      responses:
        "200":
          description: Paginated agent list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedAgent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /api/v1/agents/{id}:
    get:
      tags: [Agents]
      summary: Get agent
      description: Returns a single agent by ID.
      operationId: getAgent
      parameters:
        - $ref: "#/components/parameters/AgentIdPath"
      responses:
        "200":
          description: Agent found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agent"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /api/v1/agents/{id}/command:
    post:
      tags: [Agents]
      summary: Run remote command on agent
      description: |
        Executes a shell command or named script on the agent. Returns
        a command ID that can be polled for output. All invocations are
        recorded in the audit log.
      operationId: agentCommand
      parameters:
        - $ref: "#/components/parameters/AgentIdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentCommandRequest"
      responses:
        "202":
          description: Command accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentCommandResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /api/v1/agents/{id}/check-results:
    get:
      tags: [Agents, CheckResults]
      summary: Recent check results for an agent
      description: Returns the most recent check executions for this agent.
      operationId: agentCheckResults
      parameters:
        - $ref: "#/components/parameters/AgentIdPath"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PageSizeParam"
        - name: check_id
          in: query
          description: Filter by check definition
          schema:
            type: string
      responses:
        "200":
          description: Paginated check results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedCheckResult"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /api/v1/agents/register:
    post:
      tags: [Agents]
      summary: Register a new agent (admin only)
      description: |
        Creates a new agent enrollment record and returns a one-time
        enrollment token. Admin role required.
      operationId: registerAgent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentRegistrationRequest"
      responses:
        "201":
          description: Agent registered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRegistrationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"

  # =========================================================
  # Checks (Phase 1)
  # =========================================================
  /api/v1/checks:
    get:
      tags: [Checks]
      summary: List check definitions
      operationId: listChecks
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PageSizeParam"
        - name: type
          in: query
          schema:
            type: string
            enum: [health, compliance, security, custom]
        - name: enabled
          in: query
          schema:
            type: boolean
      responses:
        "200":
          description: Paginated check list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedCheck"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      tags: [Checks]
      summary: Create check definition
      operationId: createCheck
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckCreate"
      responses:
        "201":
          description: Check created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Check"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /api/v1/checks/{id}:
    get:
      tags: [Checks]
      summary: Get check definition
      operationId: getCheck
      parameters:
        - $ref: "#/components/parameters/CheckIdPath"
      responses:
        "200":
          description: Check definition
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Check"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

    put:
      tags: [Checks]
      summary: Update check definition
      operationId: updateCheck
      parameters:
        - $ref: "#/components/parameters/CheckIdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckUpdate"
      responses:
        "200":
          description: Updated check
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Check"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      tags: [Checks]
      summary: Delete check definition
      operationId: deleteCheck
      parameters:
        - $ref: "#/components/parameters/CheckIdPath"
      responses:
        "204":
          description: Deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /api/v1/checks/{id}/run-now:
    post:
      tags: [Checks]
      summary: Trigger immediate execution
      description: Enqueues the check for immediate execution against all assigned agents.
      operationId: runCheckNow
      parameters:
        - $ref: "#/components/parameters/CheckIdPath"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                agent_ids:
                  type: array
                  items:
                    type: string
                  description: "Limit execution to these agent IDs (default: all assigned)"
      responses:
        "202":
          description: Execution enqueued
          content:
            application/json:
              schema:
                type: object
                properties:
                  execution_id:
                    type: string
                  enqueued_count:
                    type: integer
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /api/v1/check-results:
    get:
      tags: [CheckResults]
      summary: List check results
      description: Returns a paginated list of check execution results across all agents.
      operationId: listCheckResults
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PageSizeParam"
        - name: check_id
          in: query
          schema:
            type: string
        - name: agent_id
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [pass, fail, error, timeout]
        - name: since
          in: query
          description: ISO-8601 timestamp lower bound
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: Paginated check results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedCheckResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalServerError"

  # =========================================================
  # Alerts (Phase 1)
  # =========================================================
  /api/v1/alerts:
    get:
      tags: [Alerts]
      summary: List alerts
      operationId: listAlerts
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PageSizeParam"
        - name: status
          in: query
          schema:
            type: string
            enum: [firing, acknowledged, resolved, snoozed]
        - name: severity
          in: query
          schema:
            type: string
            enum: [info, warning, critical]
        - name: agent_id
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Paginated alert list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedAlert"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /api/v1/alerts/{id}/acknowledge:
    post:
      tags: [Alerts]
      summary: Acknowledge an alert
      operationId: acknowledgeAlert
      parameters:
        - $ref: "#/components/parameters/AlertIdPath"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                note:
                  type: string
                  description: Optional acknowledgment note
      responses:
        "200":
          description: Alert acknowledged
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Alert"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /api/v1/alerts/{id}/resolve:
    post:
      tags: [Alerts]
      summary: Resolve an alert
      operationId: resolveAlert
      parameters:
        - $ref: "#/components/parameters/AlertIdPath"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                resolution:
                  type: string
                  description: Resolution reason or note
      responses:
        "200":
          description: Alert resolved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Alert"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /api/v1/alerts/{id}/snooze:
    post:
      tags: [Alerts]
      summary: Snooze an alert
      operationId: snoozeAlert
      parameters:
        - $ref: "#/components/parameters/AlertIdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [until]
              properties:
                until:
                  type: string
                  format: date-time
                  description: When to resume notifications
                reason:
                  type: string
      responses:
        "200":
          description: Alert snoozed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Alert"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /api/v1/alert-rules:
    get:
      tags: [AlertRules]
      summary: List alert rules
      operationId: listAlertRules
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PageSizeParam"
        - name: enabled
          in: query
          schema:
            type: boolean
      responses:
        "200":
          description: Paginated alert rules
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedAlertRule"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      tags: [AlertRules]
      summary: Create alert rule
      operationId: createAlertRule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AlertRuleCreate"
      responses:
        "201":
          description: Rule created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlertRule"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /api/v1/alert-rules/{id}:
    put:
      tags: [AlertRules]
      summary: Update alert rule
      operationId: updateAlertRule
      parameters:
        - $ref: "#/components/parameters/AlertRuleIdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AlertRuleUpdate"
      responses:
        "200":
          description: Updated rule
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlertRule"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  # =========================================================
  # Policies (Phase 1)
  # =========================================================
  /api/v1/policies:
    get:
      tags: [Policies]
      summary: List policies
      operationId: listPolicies
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PageSizeParam"
        - name: category
          in: query
          schema:
            type: string
            enum: [security, compliance, operational, custom]
      responses:
        "200":
          description: Paginated policy list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedPolicy"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      tags: [Policies]
      summary: Create policy
      operationId: createPolicy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PolicyCreate"
      responses:
        "201":
          description: Policy created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Policy"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /api/v1/policies/{id}:
    get:
      tags: [Policies]
      summary: Get policy
      operationId: getPolicy
      parameters:
        - $ref: "#/components/parameters/PolicyIdPath"
      responses:
        "200":
          description: Policy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Policy"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

    put:
      tags: [Policies]
      summary: Update policy
      operationId: updatePolicy
      parameters:
        - $ref: "#/components/parameters/PolicyIdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PolicyUpdate"
      responses:
        "200":
          description: Updated policy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Policy"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /api/v1/policies/{id}/violations:
    get:
      tags: [Policies]
      summary: List policy violations
      description: Returns agents currently violating this policy.
      operationId: listPolicyViolations
      parameters:
        - $ref: "#/components/parameters/PolicyIdPath"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PageSizeParam"
      responses:
        "200":
          description: Paginated violations
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        agent_id:
                          type: string
                        detected_at:
                          type: string
                          format: date-time
                        details:
                          type: object
                          additionalProperties: true
                  page:
                    $ref: "#/components/schemas/PageMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  # =========================================================
  # Patches (Phase 1)
  # =========================================================
  /api/v1/patches:
    get:
      tags: [Patches]
      summary: List available patches
      description: Returns OS and software patches visible to the org.
      operationId: listPatches
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PageSizeParam"
        - name: os
          in: query
          schema:
            type: string
            enum: [linux, darwin, windows]
        - name: severity
          in: query
          schema:
            type: string
            enum: [low, moderate, important, critical]
        - name: status
          in: query
          schema:
            type: string
            enum: [available, scheduled, installed, failed]
      responses:
        "200":
          description: Paginated patch list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedPatch"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /api/v1/patches/jobs:
    post:
      tags: [Patches]
      summary: Create a patch job
      description: Creates a new patch deployment job targeting specific agents.
      operationId: createPatchJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchJobCreate"
      responses:
        "201":
          description: Job created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PatchJob"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /api/v1/patches/jobs/{id}:
    get:
      tags: [Patches]
      summary: Get patch job
      operationId: getPatchJob
      parameters:
        - $ref: "#/components/parameters/PatchJobIdPath"
      responses:
        "200":
          description: Patch job details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PatchJob"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /api/v1/patches/jobs/{id}/approve:
    post:
      tags: [Patches]
      summary: Approve a patch job
      description: Marks a pending patch job as approved. Required when the job requires_approval is true.
      operationId: approvePatchJob
      parameters:
        - $ref: "#/components/parameters/PatchJobIdPath"
      responses:
        "200":
          description: Job approved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PatchJob"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Job is not in a pending state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /api/v1/patches/jobs/{id}/reject:
    post:
      tags: [Patches]
      summary: Reject a patch job
      operationId: rejectPatchJob
      parameters:
        - $ref: "#/components/parameters/PatchJobIdPath"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
      responses:
        "200":
          description: Job rejected
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PatchJob"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Job is not in a pending state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          $ref: "#/components/responses/InternalServerError"

  # =========================================================
  # Scripts (Phase 1)
  # =========================================================
  /api/v1/scripts:
    get:
      tags: [Scripts]
      summary: List scripts
      operationId: listScripts
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PageSizeParam"
        - name: language
          in: query
          schema:
            type: string
            enum: [bash, powershell, python, zsh]
        - name: tag
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Paginated script list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedScript"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      tags: [Scripts]
      summary: Create script
      operationId: createScript
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ScriptCreate"
      responses:
        "201":
          description: Script created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Script"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /api/v1/scripts/{id}:
    get:
      tags: [Scripts]
      summary: Get script
      operationId: getScript
      parameters:
        - $ref: "#/components/parameters/ScriptIdPath"
      responses:
        "200":
          description: Script details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Script"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /api/v1/scripts/{id}/run:
    post:
      tags: [Scripts]
      summary: Run script on agents
      operationId: runScript
      parameters:
        - $ref: "#/components/parameters/ScriptIdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ScriptRunRequest"
      responses:
        "202":
          description: Run enqueued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScriptRun"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /api/v1/scripts/{id}/runs:
    get:
      tags: [Scripts]
      summary: List script runs
      description: Returns historical execution runs of this script.
      operationId: listScriptRuns
      parameters:
        - $ref: "#/components/parameters/ScriptIdPath"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PageSizeParam"
      responses:
        "200":
          description: Paginated script runs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedScriptRun"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  # =========================================================
  # Audit (Phase 0)
  # =========================================================
  /api/v1/audit/events:
    get:
      tags: [Audit]
      summary: List audit events
      description: Returns a paginated, append-only audit log.
      operationId: listAuditEvents
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/PageSizeParam"
        - name: actor
          in: query
          description: Filter by actor subject
          schema:
            type: string
        - name: action
          in: query
          schema:
            type: string
        - name: resource_type
          in: query
          schema:
            type: string
        - name: resource_id
          in: query
          schema:
            type: string
        - name: since
          in: query
          schema:
            type: string
            format: date-time
        - name: until
          in: query
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: Paginated audit events
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedAuditEvent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /api/v1/audit/events/{id}:
    get:
      tags: [Audit]
      summary: Get a single audit event
      operationId: getAuditEvent
      parameters:
        - $ref: "#/components/parameters/AuditEventIdPath"
      responses:
        "200":
          description: Audit event
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuditEvent"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OIDC ID token or session JWT

  parameters:
    AuthorizationHeader:
      name: Authorization
      in: header
      description: Bearer token (alternative to session cookie)
      required: false
      schema:
        type: string
        example: Bearer eyJhbGciOiJSUzI1NiIs...

    PageParam:
      name: page
      in: query
      description: 1-based page index
      required: false
      schema:
        type: integer
        minimum: 1
        default: 1

    PageSizeParam:
      name: page_size
      in: query
      description: Items per page (max 200)
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 50

    AgentIdPath:
      name: id
      in: path
      required: true
      description: Agent ID (UUID)
      schema:
        type: string
        format: uuid

    CheckIdPath:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid

    AlertIdPath:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid

    AlertRuleIdPath:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid

    PolicyIdPath:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid

    PatchJobIdPath:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid

    ScriptIdPath:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid

    AuditEventIdPath:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    Unauthorized:
      description: Unauthorized — missing or invalid token
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    Forbidden:
      description: Forbidden — token lacks required role
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: string
          description: Machine-readable error code
          example: invalid_request
        message:
          type: string
          description: Human-readable error message
        request_id:
          type: string
          description: Correlation ID for log lookup

    PageMeta:
      type: object
      required: [page, page_size, total]
      properties:
        page:
          type: integer
          minimum: 1
        page_size:
          type: integer
          minimum: 1
        total:
          type: integer
          minimum: 0
        total_pages:
          type: integer
          minimum: 0

    PaginationParams:
      type: object
      properties:
        page:
          type: integer
          minimum: 1
          default: 1
        page_size:
          type: integer
          minimum: 1
          maximum: 200
          default: 50

    # ----- Domain models -----
    Agent:
      type: object
      required: [id, hostname, status, org_id, created_at]
      properties:
        id:
          type: string
          format: uuid
        hostname:
          type: string
        os:
          type: string
          enum: [linux, darwin, windows]
        os_version:
          type: string
        arch:
          type: string
          enum: [amd64, arm64, 386, arm]
        status:
          type: string
          enum: [online, offline, degraded, pending]
        last_seen_at:
          type: string
          format: date-time
        agent_version:
          type: string
        site_id:
          type: string
          format: uuid
        org_id:
          type: string
          format: uuid
        labels:
          type: object
          additionalProperties:
            type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    AgentCommandRequest:
      type: object
      required: [command]
      properties:
        command:
          type: string
          description: Shell command to execute
          example: systemctl status nginx
        script_id:
          type: string
          format: uuid
          description: Optional reference to a stored script (mutually exclusive with command)
        args:
          type: array
          items:
            type: string
        timeout_seconds:
          type: integer
          minimum: 1
          maximum: 3600
          default: 60
        run_as:
          type: string
          description: OS user to execute as
        env:
          type: object
          additionalProperties:
            type: string

    AgentCommandResponse:
      type: object
      required: [command_id, status]
      properties:
        command_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [queued, running, completed, failed, timeout]
        accepted_at:
          type: string
          format: date-time

    AgentRegistrationRequest:
      type: object
      required: [hostname, org_id]
      properties:
        hostname:
          type: string
        os:
          type: string
          enum: [linux, darwin, windows]
        site_id:
          type: string
          format: uuid
        org_id:
          type: string
          format: uuid
        labels:
          type: object
          additionalProperties:
            type: string

    AgentRegistrationResponse:
      type: object
      required: [agent, enrollment_token]
      properties:
        agent:
          $ref: "#/components/schemas/Agent"
        enrollment_token:
          type: string
          description: One-time token for the agent to complete enrollment
        enrollment_token_expires_at:
          type: string
          format: date-time

    Check:
      type: object
      required: [id, name, type, enabled, created_at]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        type:
          type: string
          enum: [health, compliance, security, custom]
        enabled:
          type: boolean
        interval_seconds:
          type: integer
          minimum: 30
        timeout_seconds:
          type: integer
          minimum: 1
        target:
          type: object
          description: Platform-specific check configuration
          additionalProperties: true
        agent_selector:
          type: object
          description: Label or site-based agent filter
          additionalProperties: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CheckCreate:
      type: object
      required: [name, type]
      properties:
        name:
          type: string
        description:
          type: string
        type:
          type: string
          enum: [health, compliance, security, custom]
        enabled:
          type: boolean
          default: true
        interval_seconds:
          type: integer
        timeout_seconds:
          type: integer
        target:
          type: object
          additionalProperties: true
        agent_selector:
          type: object
          additionalProperties: true

    CheckUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        enabled:
          type: boolean
        interval_seconds:
          type: integer
        timeout_seconds:
          type: integer
        target:
          type: object
          additionalProperties: true
        agent_selector:
          type: object
          additionalProperties: true

    CheckResult:
      type: object
      required: [id, check_id, agent_id, status, started_at]
      properties:
        id:
          type: string
          format: uuid
        check_id:
          type: string
          format: uuid
        agent_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [pass, fail, error, timeout]
        output:
          type: string
          description: Stdout or structured output
        error:
          type: string
        duration_ms:
          type: integer
        started_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: true

    Alert:
      type: object
      required: [id, status, severity, rule_id, created_at]
      properties:
        id:
          type: string
          format: uuid
        rule_id:
          type: string
          format: uuid
        agent_id:
          type: string
          format: uuid
        check_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [firing, acknowledged, resolved, snoozed]
        severity:
          type: string
          enum: [info, warning, critical]
        title:
          type: string
        description:
          type: string
        acknowledged_by:
          type: string
        acknowledged_at:
          type: string
          format: date-time
        resolved_at:
          type: string
          format: date-time
        snoozed_until:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        labels:
          type: object
          additionalProperties:
            type: string

    AlertRule:
      type: object
      required: [id, name, expression, enabled, created_at]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        expression:
          type: string
          description: CEL or expression evaluated against check results
          example: check.status == "fail" && check.severity == "critical"
        severity:
          type: string
          enum: [info, warning, critical]
        enabled:
          type: boolean
        notification_channels:
          type: array
          items:
            type: string
            enum: [email, slack, webhook, pagerduty]
        cooldown_seconds:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    AlertRuleCreate:
      type: object
      required: [name, expression]
      properties:
        name:
          type: string
        description:
          type: string
        expression:
          type: string
        severity:
          type: string
          enum: [info, warning, critical]
        enabled:
          type: boolean
          default: true
        notification_channels:
          type: array
          items:
            type: string
            enum: [email, slack, webhook, pagerduty]
        cooldown_seconds:
          type: integer

    AlertRuleUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        expression:
          type: string
        severity:
          type: string
          enum: [info, warning, critical]
        enabled:
          type: boolean
        notification_channels:
          type: array
          items:
            type: string
        cooldown_seconds:
          type: integer

    Policy:
      type: object
      required: [id, name, category, created_at]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        category:
          type: string
          enum: [security, compliance, operational, custom]
        enabled:
          type: boolean
        rules:
          type: array
          items:
            type: object
            additionalProperties: true
        remediation_script_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    PolicyCreate:
      type: object
      required: [name, category]
      properties:
        name:
          type: string
        description:
          type: string
        category:
          type: string
          enum: [security, compliance, operational, custom]
        enabled:
          type: boolean
          default: true
        rules:
          type: array
          items:
            type: object
            additionalProperties: true
        remediation_script_id:
          type: string
          format: uuid

    PolicyUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        category:
          type: string
          enum: [security, compliance, operational, custom]
        enabled:
          type: boolean
        rules:
          type: array
          items:
            type: object
            additionalProperties: true
        remediation_script_id:
          type: string
          format: uuid

    Patch:
      type: object
      required: [id, name, os, severity, status]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        cve:
          type: string
          example: CVE-2024-12345
        os:
          type: string
          enum: [linux, darwin, windows]
        os_version_constraint:
          type: string
        severity:
          type: string
          enum: [low, moderate, important, critical]
        status:
          type: string
          enum: [available, scheduled, installed, failed]
        kb_article:
          type: string
        release_date:
          type: string
          format: date
        size_bytes:
          type: integer
          format: int64
        requires_reboot:
          type: boolean

    PatchJob:
      type: object
      required: [id, status, created_at]
      properties:
        id:
          type: string
          format: uuid
        patch_ids:
          type: array
          items:
            type: string
            format: uuid
        agent_ids:
          type: array
          items:
            type: string
            format: uuid
        status:
          type: string
          enum: [pending, approved, rejected, running, completed, failed]
        requires_approval:
          type: boolean
        scheduled_at:
          type: string
          format: date-time
        started_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        approved_by:
          type: string
        created_at:
          type: string
          format: date-time

    PatchJobCreate:
      type: object
      required: [patch_ids, agent_ids]
      properties:
        patch_ids:
          type: array
          minItems: 1
          items:
            type: string
            format: uuid
        agent_ids:
          type: array
          minItems: 1
          items:
            type: string
            format: uuid
        requires_approval:
          type: boolean
          default: true
        scheduled_at:
          type: string
          format: date-time

    Script:
      type: object
      required: [id, name, language, body, created_at]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        language:
          type: string
          enum: [bash, powershell, python, zsh]
        body:
          type: string
        default_args:
          type: array
          items:
            type: string
        default_timeout_seconds:
          type: integer
        tags:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ScriptCreate:
      type: object
      required: [name, language, body]
      properties:
        name:
          type: string
        description:
          type: string
        language:
          type: string
          enum: [bash, powershell, python, zsh]
        body:
          type: string
        default_args:
          type: array
          items:
            type: string
        default_timeout_seconds:
          type: integer
        tags:
          type: array
          items:
            type: string

    ScriptRun:
      type: object
      required: [id, script_id, status, started_at]
      properties:
        id:
          type: string
          format: uuid
        script_id:
          type: string
          format: uuid
        agent_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [queued, running, completed, failed, timeout]
        args:
          type: array
          items:
            type: string
        exit_code:
          type: integer
        stdout:
          type: string
        stderr:
          type: string
        started_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time

    ScriptRunRequest:
      type: object
      required: [agent_ids]
      properties:
        agent_ids:
          type: array
          minItems: 1
          items:
            type: string
            format: uuid
        args:
          type: array
          items:
            type: string
        timeout_seconds:
          type: integer
        env:
          type: object
          additionalProperties:
            type: string

    AuditEvent:
      type: object
      required: [id, actor, action, resource_type, occurred_at]
      properties:
        id:
          type: string
          format: uuid
        actor:
          type: string
          description: Subject of the actor (user or agent ID)
        actor_type:
          type: string
          enum: [user, agent, system]
        action:
          type: string
          example: agent.command.run
        resource_type:
          type: string
          example: agent
        resource_id:
          type: string
        org_id:
          type: string
          format: uuid
        request_id:
          type: string
        source_ip:
          type: string
        user_agent:
          type: string
        metadata:
          type: object
          additionalProperties: true
        occurred_at:
          type: string
          format: date-time
        prev_hash:
          type: string
          description: Hash of the previous event for tamper-evidence
        hash:
          type: string
          description: Hash of this event

    # ----- Generic paginated envelopes -----
    PaginatedResponse:
      type: object
      required: [items, page]
      properties:
        items:
          type: array
          items: {}
        page:
          $ref: "#/components/schemas/PageMeta"

    PaginatedAgent:
      type: object
      required: [items, page]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Agent"
        page:
          $ref: "#/components/schemas/PageMeta"

    PaginatedCheck:
      type: object
      required: [items, page]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Check"
        page:
          $ref: "#/components/schemas/PageMeta"

    PaginatedCheckResult:
      type: object
      required: [items, page]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/CheckResult"
        page:
          $ref: "#/components/schemas/PageMeta"

    PaginatedAlert:
      type: object
      required: [items, page]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Alert"
        page:
          $ref: "#/components/schemas/PageMeta"

    PaginatedAlertRule:
      type: object
      required: [items, page]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/AlertRule"
        page:
          $ref: "#/components/schemas/PageMeta"

    PaginatedPolicy:
      type: object
      required: [items, page]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Policy"
        page:
          $ref: "#/components/schemas/PageMeta"

    PaginatedPatch:
      type: object
      required: [items, page]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Patch"
        page:
          $ref: "#/components/schemas/PageMeta"

    PaginatedScript:
      type: object
      required: [items, page]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Script"
        page:
          $ref: "#/components/schemas/PageMeta"

    PaginatedScriptRun:
      type: object
      required: [items, page]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/ScriptRun"
        page:
          $ref: "#/components/schemas/PageMeta"

    PaginatedAuditEvent:
      type: object
      required: [items, page]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/AuditEvent"
        page:
          $ref: "#/components/schemas/PageMeta"
